<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.heftrich.movingpictures.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.heftrich.movingpictures.rcp.Perspective"
            id="de.heftrich.movingpictures.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.heftrich.movingpictures.rcp.application"
            name="Moving Pictures">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Moving Pictures">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.heftrich.movingpictures.rcp.perspective">
         <view
               closeable="false"
               id="de.heftrich.movingpictures.gui.ItemView"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.heftrich.movingpictures.gui.CarrierView"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
